spring:
  application:
    name: task.manager
  messages:
    encoding: UTF-8
  datasource:
    url: jdbc:h2:file:./data/task-db;MODE=PostgreSQL;DB_CLOSE_DELAY=-1
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    properties:
      hibernate:
        jdbc:
          time_zone: UTC
    hibernate:
      ddl-auto: validate
    show-sql: true
  h2:
    console:
      enabled: true
      path: /h2-console
  liquibase:
    enabled: true
    user: ${spring.datasource.username}
    change-log: classpath:db/liquibase-changelog.xml
  jackson:
    serialization:
      FAIL_ON_EMPTY_BEANS: false
  sql:
    init:
      encoding: UTF-8
  servlet:
    encoding:
      charset: UTF-8


server:
  port: 8080
  tomcat:
    uri-encoding: UTF-8

debug: false

logging:
  level:
    org.apache.fop: ERROR
    org.springframework:
      jdbc: WARN
      boot.autoconfigure: WARN
    net.lbruun.springboot.preliquibase: WARN
    liquibase: WARN
